USE [StudentAuthDB]
GO
/****** Object:  Table [dbo].[companies]    Script Date: 9/1/2026 1:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[companies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [nvarchar](150) NOT NULL,
	[company_description] [nvarchar](500) NOT NULL,
	[creation_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 9/1/2026 1:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[product_name] [nvarchar](150) NOT NULL,
	[quantity] [nvarchar](100) NOT NULL,
	[number_of_items] [int] NOT NULL,
	[serial_code] [nvarchar](100) NOT NULL,
	[creation_date] [datetime] NULL,
	[retail_price] [decimal](10, 2) NOT NULL,
	[vendor_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/1/2026 1:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[password] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 9/1/2026 1:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vendor_name] [nvarchar](100) NOT NULL,
	[business_name] [nvarchar](150) NOT NULL,
	[contact] [nvarchar](50) NOT NULL,
	[address] [nvarchar](250) NOT NULL,
	[creation_date] [datetime] NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[paid_amount] [decimal](18, 2) NOT NULL,
	[credit_amount] [decimal](18, 2) NOT NULL,
	[payment_status] [varchar](20) NOT NULL,
	[product_id] [int] NULL,
	[assigned_quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[companies] ON 

INSERT [dbo].[companies] ([id], [company_name], [company_description], [creation_date]) VALUES (1, N'Gulf', N'Oil company', CAST(N'2026-08-13T04:42:39.653' AS DateTime))
INSERT [dbo].[companies] ([id], [company_name], [company_description], [creation_date]) VALUES (2, N'shell', N'That is good company and best services
', CAST(N'2026-08-13T23:00:34.307' AS DateTime))
INSERT [dbo].[companies] ([id], [company_name], [company_description], [creation_date]) VALUES (3, N'Total', N'Good servvicces', CAST(N'2026-08-13T23:45:21.493' AS DateTime))
SET IDENTITY_INSERT [dbo].[companies] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([id], [company_id], [product_name], [quantity], [number_of_items], [serial_code], [creation_date], [retail_price], [vendor_id]) VALUES (1, 2, N'oil', N'5', 40, N'PROD-4CC4B2F8', CAST(N'2026-08-13T23:03:57.833' AS DateTime), CAST(393.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Products] ([id], [company_id], [product_name], [quantity], [number_of_items], [serial_code], [creation_date], [retail_price], [vendor_id]) VALUES (2, 2, N'oil', N'20*10', 40, N'PROD-617FDF49', CAST(N'2026-08-13T23:46:16.857' AS DateTime), CAST(700.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Products] ([id], [company_id], [product_name], [quantity], [number_of_items], [serial_code], [creation_date], [retail_price], [vendor_id]) VALUES (3, 4, N'medicine ', N'20*20', 28, N'PROD-CF885926', CAST(N'2026-08-14T00:00:53.603' AS DateTime), CAST(800.00 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [name], [email], [phone], [password]) VALUES (1, N'Abrar Hassan', N'abrar@gmail.com', N'03001234567', N'12345')
INSERT [dbo].[Users] ([id], [name], [email], [phone], [password]) VALUES (2, N'Abrar', N'waqar@gmail.com', N'', N'12345')
INSERT [dbo].[Users] ([id], [name], [email], [phone], [password]) VALUES (3, N'israr', N'israr@gmail.com', N'', N'12123')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendors] ON 

INSERT [dbo].[Vendors] ([id], [vendor_name], [business_name], [contact], [address], [creation_date], [total_amount], [paid_amount], [credit_amount], [payment_status], [product_id], [assigned_quantity]) VALUES (1, N'Ali', N'Ali Traders', N'03001234567', N'Lahore', CAST(N'2026-08-13T12:05:53.760' AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Pending', NULL, NULL)
INSERT [dbo].[Vendors] ([id], [vendor_name], [business_name], [contact], [address], [creation_date], [total_amount], [paid_amount], [credit_amount], [payment_status], [product_id], [assigned_quantity]) VALUES (2, N'Rana ', N'others', N'Ahmed Traders', N'03403493489', CAST(N'2026-08-13T23:08:52.207' AS DateTime), CAST(7000.00 AS Decimal(18, 2)), CAST(4000.00 AS Decimal(18, 2)), CAST(3000.00 AS Decimal(18, 2)), N'Credit', 19, 7)
INSERT [dbo].[Vendors] ([id], [vendor_name], [business_name], [contact], [address], [creation_date], [total_amount], [paid_amount], [credit_amount], [payment_status], [product_id], [assigned_quantity]) VALUES (3, N'Rana ', N'Rana Trader', N'03407000000', N'Lahore ', CAST(N'2026-08-13T23:59:34.370' AS DateTime), CAST(49000.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)), CAST(47000.00 AS Decimal(18, 2)), N'Credit', 13, 7)
SET IDENTITY_INSERT [dbo].[Vendors] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__FBE8D542889FF39B]    Script Date: 9/1/2026 1:35:46 PM ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[serial_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E61646B946E1F]    Script Date: 9/1/2026 1:35:46 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[companies] ADD  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[Vendors] ADD  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[Vendors] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[Vendors] ADD  DEFAULT ((0)) FOR [paid_amount]
GO
ALTER TABLE [dbo].[Vendors] ADD  DEFAULT ((0)) FOR [credit_amount]
GO
ALTER TABLE [dbo].[Vendors] ADD  DEFAULT ('Pending') FOR [payment_status]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Companies] FOREIGN KEY([company_id])
REFERENCES [dbo].[companies] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Companies]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Vendors] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[Vendors] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Vendors]
GO
